#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 20em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  animation: bounce 1.5s ease-in-out infinite;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes bounce {
	0%, 100% {transform: translateY(0);}
	50% {transform: translateY(-15px);}
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-bounce infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
